spring:
  datasource:
    url: ${DATABASE_URL:}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER:}      
    password: ${DB_PASSWORD:} 

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: false

  sql:
    init:
      mode: never

server:
  port: ${PORT:8080}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
